@import '~antd/dist/antd.css';

.graphs-list {
    position: absolute;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    margin-top: 50px;
}

.graphs-list button {
    width: 100%;
    margin-top: 30px;
}